{% extends "layout.html" %} <!-- สืบทอดมาจาก layout.html -->
{% block content %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">New Post</legend>                    
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control") }}
                        {% endif %}  
                    </div>
                    <div class="mb-3">
                        {{ form.content.label(class="form-label") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control") }}
                        {% endif %}   
                    </div>
                </fieldset>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-dark text-white") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
