{% extends "layout.html" %} <!-- สืบทอดมาจาก layout.html -->
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body ml-4">
            <div class="article-metadata">
                <span class="mr-2">
                    <strong>By {{ post.author.username }}</strong><br>
                </span>
                <span class="text-muted">
                    Posted on {{ post.date_posted.strftime('%B %d, %Y') }}
                </span>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}
